
<footer class="container mx-auto bg-white py-8 border-t border-gray-400">
  <div class="container flex px-3 py-8 ">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full lg:w-1/2 ">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">About</h3>
          <p class="py-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
          </p>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
        <div class="px-3 md:px-0">
          <h3 class="font-bold text-gray-900">Social</h3>
          <ul class="list-reset items-center pt-3">
            <li>
              <a href="https://www.facebook.com/moderno.mk.1" target="_blank"><i class="fab fa-facebook-f p-1 px-2.5 rounded fa-2x bg-blue-600 text-white hover:opacity-50	"></i></a>
              <a href="https://www.instagram.com/moderno.mk/" target="_blank"><i class="fab fa-instagram fa-2x p-1 px-1.5 hover:opacity-50 text-white rounded bg-gradient-to-r from-purple-400 via-pink-500 to-red-500"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
